@import 'font-deck';

.post-header {}
.post-title {}

.post-meta {
    color: hsl(0, 0%, 68%);

    > dt { @extend .republic-regular; }
    > dd { @extend .republic-medium-italic; }

    > dt, > dd { display: inline-block; }
}

.post-content > p {
    font-size: 1.125em;
}

.post-content > p:first-of-type {
    font-size: 1.25em;
    line-height: 1.32;
}