.post-header {}
.post-title {}
.post-meta { color: hsl(0, 0%, 68%); }
.post-meta > dd {
    font-family:"Battersea Thin Italic", Arial, sans-serif; font-weight:100; font-style:italic;
}
.meta > dt,
.meta > dd { display: inline-block; }

.post-content > p {
    font-size: 1.125em;
}

.post-content > p:first-of-type {
    font-size: 1.25em;
    line-height: 1.32;
}